.btn_group {
    display: flex;
}
.btn_login {
    padding: 8px 16px;
    background: #090f20;
    border: 1px solid #ff6d03;
    color: #ff6d03;
    border-radius: 12px;
    align-items: center;
    margin: 0 8px;
    cursor: pointer;
}
.btn_registr {
    padding: 8px 16px;
    background: #ff6d03;
    border-radius: 12px;
    align-items: center;
    margin-right: 28px;
    cursor: pointer;
}
