.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 10px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #7f8487;
    border-radius: 0.3rem;
    margin-top: 38px;
}
.card:first-child::before {
    margin-top: 0;
}
.img {
    width: 370px;
    height: 200px;
}

.title {
    padding: 2px 16px;
    text-decoration: none;
    color: aliceblue;
}
